<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-left">
      <span>Follow us:</span>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <div class="footer-right">
      &copy; <%= new Date().getFullYear() %> BioBrain. All rights reserved.
    </div>
  </div>

  <div class="footer-bottom">
    <ul class="footer-links">
      <li><a href="/disclaimer">Disclaimer</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/terms">Terms & Conditions</a></li>
    </ul>
  </div>
</footer>

<!-- Font Awesome CDN for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />