<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About BioBrain</title>
  <link rel="stylesheet" href="/css/desktopStyle.css" />
  <style>
    
  </style>
</head>
<body>

  <!-- Header -->
  <%- include('../../partials/desktop/header') %>

  <!-- Hero / About Section -->
  <section class="about-hero">
    <h1>Profile</h1>
    <p class="about-text">
      PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  
      PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  
      PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  PROFILE COMING !!!  
    </p>
  </section>

  <!-- Footer -->
  <%- include('../../partials/desktop/footer') %>
</body>
</html>