<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard - Subjects</title>
    <link rel="stylesheet" href="/css/adminStyle.css">
    <script src="/js/admin.js"></script>
</head>

<body>
    <%- include('../../../../partials/admin/header') %>
        <div class="admin-container">
            <%- include('../../../../partials/admin/sidebar') %>
                <main class="admin-content">

                </main>
        </div>
        <%- include('../../../../partials/admin/footer') %>
</body>

</html>